<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="static\css\style.css">
    <title>SStation
    </title>
    </head>
<body>
    <header>
        <div class="bg-info sticky-top mb-1">
            <div class="container">
                <div class="rowm-t-1"> 
                    <div class="col-sm-6 mx-auto display-5 lead">
                        <h3 class="text-white" href="/"> <span class="bold">SStation</span></h3>
                    </div>
                </div>
                <div class="col-sm-6 mx-auto">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active text-white border bg-secondary border-4 mx-1 my-1" href="{{ url_for('twitter_auth') }}">ログイン</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container px-auto ">
            <div class="rowm-t-1 bg-light"> 
                <div class="col-sm-4 mx-auto mb-2 pt-4">
                    <p class="text-center "> <span class="br">Twitterに投稿したSSを</span> <span class="br">まとめて見ましょう！</span></p>
                </div>
                <div class="col-sm-4 mx-auto mb-2">
                    <img src="/static/images/001.png" class="rounded mx-auto d-block rounded-circle border-dark " width="150" height="100" alt="イメージ">
                </div>
                <div class="col-sm-4 mx-auto mt-4">
                    <p class="text-center"><span class="text-white bg-secondary border px-1 py-1">ログイン</span>したら</p>
                </div>
                <div class="col-sm-4 mx-auto mb-2">
                    <p class="text-center mt-2"> <span class="br"></span> <span class="br mb-2">Twitterで保存したいSSに</span> <span class="bold br"> #ツイ説保存 </span> <span> + </span> <span class="bold "> 小説タイトル </span> <span class="br mt-2 pb-4">をリプライするだけ！</span</p>
                </div>
            </div>
    </div>

    </main>


    <footer>
      <div class="fixed-bottom">
          <div class="fixed-bottom bg-light">ⒸSStation</div>
      </div>
    </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>


